<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Idle Mu</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div id="app">
        <div class="border character">
            <div>角色名：{{ character.name }} 职业：{{ character.job_id }}</div>
            <div>等级：{{ character.lv }} 经验值：{{ character.exp }}</div>
            <div class="hp">HP: {{ character.hp }} / {{ character.max_hp }}</div>
            <div class="atk">攻击力：{{ character.atk }}</div>
            <div>攻击速度： {{ character.spd }}</div>
            <div class="def">防御力：{{ character.def }}</div>
            <div>力量：{{ character.str }}<button v-if="character.ap" @click="character.add_ap('str')">+</button></div>
            <div>敏捷：{{ character.dex }}<button v-if="character.ap" @click="character.add_ap('dex')">+</button></div>
            <div>体力：{{ character.vit }}<button v-if="character.ap" @click="character.add_ap('vit')">+</button></div>
            <div>智力：{{ character.int }}<button v-if="character.ap" @click="character.add_ap('int')">+</button></div>
            <div>剩余点数：{{ character.ap }}</div>

        </div>
        <!-- <div class="monster border">
            <div class="name">{{ monster.name }}</div>
            <div class="hp">HP：HP: {{ monster.hp }} / {{ monster.max_hp }}</div>
            <div class="atk">攻击力：{{ monster.atk }}</div>
            <div class="def">防御力：{{ monster.def }}</div>
        </div> -->
        <div class="dev-tools">
            <p>dev tools</p>
            <div>
                <button @click="save()">存档</button>
                <button @click="load()">读档</button>
                <button @click="p(character.is_alive)">print</button>
            </div>
            <div>受到<input type="number" v-model="devtools.atk">伤害
                <button @click="character.be_atked(devtools.atk)">被攻击</button>
            </div>
            <div>恢复<input type="number" v-model="devtools.heal">生命值
                <button @click="character.be_healed(devtools.heal)">治疗</button>
            </div>
            <div><button @click="character.be_healed('full')">复活</button></div>
            <div>增加剩余点数<input type="number" v-model="devtools.ap"><button @click="character.ap += devtools.ap">增加</button></div>
            <div><button @click="character.lv_up()">升级</button></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="module" src="./creature.js"></script>
    <script type="module" src="./jobs.js"></script>

    <script type="module" src="./main.js"></script>
</body>

</html>