<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Idle Mu</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="charael" class="border">
        <div>角色名：{{name}} 职业：{{job}}</div>
        <div>等级：{{lv}} 经验值：{{exp}}/{{next_exp}}</div>
        <div>HP：{{hp}}/{{max_hp}}</div>
        <div>攻击力：{{atk}} 攻速：{{spd}} 防御力：{{def}}</div>
        <div>力量：{{str}} <button v-if="ap>0" @click="add_ap('str',1)">+1</button></div>
        <div>敏捷：{{dex}} <button v-if="ap>0" @click="add_ap('dex',1)">+1</button></div>
        <div>体力：{{vit}} <button v-if="ap>0" @click="add_ap('vit',1)">+1</button></div>
        <div>智力：{{int}} <button v-if="ap>0" @click="add_ap('int',1)">+1</button></div>
        <div>剩余点数：{{ap}}</div>
        <div class="tools border">
            <p>character devtools</p>
            <div><button @click="lv_up">升一级</button></div>
            <div><button @click="heal('full')">满血</button></div>
            <div class="save">
                <button @click="save()">保存角色</button>
                <button @click="load()">读取角色</button>
            </div>
        </div>
    </div>
    <div id="mobel" class="border">
        <div>角色名：{{name}} 经验值：{{exp}}</div>
        <div>HP：{{hp}}/{{max_hp}}</div>
        <div>攻击力：{{atk}} 攻速：{{spd}} 防御力：{{def}}</div>
        <div class="tools border">
            <p>mob devtools</p>
            <div><button @click="spawn(tools.mob_id)">生成怪物</button> <input type="number" v-model="tools.mob_id"></div>
        </div>
    </div>
    <div id="appel" class="tools border">
        <p>system devtools</p>
        <div>
            <button @click="dmg(chara, mob)">人打怪</button>
            <button @click="dmg(mob, chara)">怪打人</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./creature.js"></script>
    <script src="./character.js"></script>
    <script src="./mob.js"></script>
    <script src="./main.js"></script>
</body>

</html>